<h1>投稿詳細</h1>

<p><strong>タイトル:</strong> <%= @book.title %></p>

<p><strong>感想:</strong> <%= @book.body %></p>

 <p id="notice">Book was successfully created.</p>



<%= link_to "edit", edit_book_path(@book.id) %>
<%= link_to 'back', books_path %>